.contributor-img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.img-border {
  background-color: white;
  width: 110px;
  height: 110px;
  border-radius: 180px;
}

.middle-black {
  background-color: black;
  width: 140px;
  height: 140px;
  border-radius: 220px;
}

.outer-most {
  background-color: #29b840;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  box-shadow: rgba(41, 184, 64, 0.56) 0px 0px 70px 4px;
}
