.footer-section {
  padding-left: 5em;
  padding-right: 5em;
  margin-top: auto;
  padding-top: 5px;
  border-top: 1px solid #ef4444;
}

.ez-div {
  max-width: 100em;
  width: 100%;
}

@media all and (max-width: 1088px) {
  .footer-section {
    max-width: 400px;
  }

  /* .ez-div {
    flex-direction: column;
  } */

  .foot-title {
    margin-top: 2.5rem;
  }
}
