.legendary-image {
  height: 110px;
  width: 110px;
}

.rect-build-section {
  margin-top: 3.5rem;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* transition: all 0.2s ease-in-out; */
}

.rect-build {
  padding: 2.5rem;
  display: inline-block;
  background-color: #121212;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease-in-out;
}

/* Test Values */
/* .rect-section:hover {
  transform: scale(1.1);
} */

/* -------------- */

.type {
  text-align: center;
  background-color: #f15b5e;
  border-radius: 5px;
  width: 4rem;
}

.type-two {
  display: none;
  margin-top: 3px;
  text-align: center;
  background-color: #f15b5e;
  border-radius: 5px;
  width: 4rem;
}

.poke-desc {
  /* max-width: 100%; */
  width: 898px;
}
