.team-image-sprite {
  width: 80px;
  height: 80px;
}

.member-type {
  text-align: center;
  margin-left: 3px;
  background-color: #f15b5e;
  border-radius: 5px;
  width: 4rem;
  height: 1.5rem;
  margin-bottom: 3px;
}

.member-type-two {
  display: none;
  margin-left: 3px;
  text-align: center;
  background-color: #f15b5e;
  border-radius: 5px;
  width: 4rem;
  height: 1.5rem;
}

.party-items-container {
  z-index: 1;
  width: 300px;
}

.party-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-column {
  display: flex;
  max-width: 500px;
  flex-direction: column;
}

/* Testing */
.wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}
