@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  background-color: #0f0f0f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* fffffff */

.legendary-image {
  height: 110px;
  width: 110px;
}

.rect-section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.rect {
  padding: 2.5rem;
  display: inline-block;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 1200px;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease-in-out;
}

.rect:hover {
  transform: scale(1.1);
}

.type {
  text-align: center;
  background-color: #f15b5e;
  border-radius: 5px;
  width: 4rem;
}

.poke-desc {
  width: 898px;
}
